<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- 配置DBCP数据源 -->
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 	<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/> -->
<!-- 	<property name="url" -->
<!-- 	value="jdbc:sqlserver://localhost:50470;databaseName=jmrb" /> -->
<!-- 	<property name="username" value="sa" /> -->
<!-- 	<property name="password" value="root" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" /> -->
<!-- 		<property name="url" -->
<!-- 			value="jdbc:sqlserver://192.168.0.2:14330;databaseName=jmrb;SelectMethod=cursor" /> -->
<!-- 		<property name="username" value="jmapk" /> -->
<!-- 		<property name="password" value="jm,./apk" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="com.microsoft.jdbc.sqlserver.SQLServerDriver" /> -->
<!-- 		<property name="url" -->
<!-- 			value="jdbc:sqlserver://192.168.0.2:14330;databaseName=jmrb;SelectMethod=cursor" /> -->
<!-- 		<property name="username" value="jmapk" /> -->
<!-- 		<property name="password" value="jm,./apk" /> -->
<!-- 	</bean> -->


	<!-- 使Spring关注Annotation -->
	<context:annotation-config />

	<!-- 让Spring通过自动扫描来查询和管理Bean -->
	<context:component-scan base-package="cn.com" />

	<!-- <bean id="userDao" class="com.rong.dao.UserDaoBean"> <property name="sessionFactory" 
		ref="sessionFactory"/> </bean> <bean id="userService" class="com.rong.service.UserServiceBean"> 
		<property name="userDao" ref="userDao"/> </bean> -->

</beans>